<div class="sell-container">
  <app-navbar></app-navbar>

  <section class="sell-header">
    <h2>SELL YOUR BOOK</h2>
    <p>List your used textbooks and school materials for sale.
      We'll help you find buyers and get the best price.</p>
  </section>

  <section class="sell-form">

    <form #f="ngForm" (ngSubmit)="upload()" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="Enter the book title" aria-label="Buchtitel" [(ngModel)]="product.title" required>
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" id="author" name="author" placeholder="Enter author of the book" aria-label="Author" [(ngModel)]="product.author" required>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" placeholder="Describe the condition and details of the book" aria-label="Beschreibung" [(ngModel)]="product.description" required></textarea>
      </div>

      <div class="form-group category-group">
        <label>Category</label>
        <div class="checkbox-group">
          <label for="category1"><input type="radio" id="category1" name="category" [(ngModel)]="product.category" value="School Books"> School books</label>
          <label for="category2"><input type="radio" id="category2" name="category" [(ngModel)]="product.category" value="School Materials"> School materials</label>
          <label for="category3"><input type="radio" id="category3"  name="category" [(ngModel)]="product.category" value="Learning Materials"> Learning material</label>
          <label for="category4"><input type="radio" id="category4" name="category" [(ngModel)]="product.category" value="Other"> Other</label>
        </div>
      </div>

      <div class="form-group category-group">
        <label>Category</label>
        <div class="checkbox-group">
          <label for="subject1"><input type="radio" id="subject1" name="subject" [(ngModel)]="product.subject" value="Law"> Law</label>
          <label for="subject2"><input type="radio" id="subject2" name="subject" [(ngModel)]="product.subject" value="Economy"> Economy</label>
          <label for="subject3"><input type="radio" id="subject3"  name="subject" [(ngModel)]="product.subject" value="Finance"> Finance</label>
          <label for="subject4"><input type="radio" id="subject4" name="subject" [(ngModel)]="product.subject" value="Language"> Language</label>
          <label for="subject5"><input type="radio" id="subject5" name="subject" [(ngModel)]="product.subject" value="Mathematics"> Mathematics</label>
          <label for="subject6"><input type="radio" id="subject6" name="subject" [(ngModel)]="product.subject" value="Science"> Science</label>
          <label for="subject7"><input type="radio" id="subject7" name="subject" [(ngModel)]="product.subject" value="History"> History</label>
          <label for="subject8"><input type="radio" id="subject8" name="subject" [(ngModel)]="product.subject" value="Other"> Other</label>
        </div>
      </div>

      <div class="form-group price-group">
        <label for="price">Price</label>
        <div class="price-input">
          <input type="text" id="price" name="price" placeholder="Enter the price" aria-label="Preis" [(ngModel)]="product.price" required>
          <span>CHF</span>
        </div>
      </div>

      <div class="form-group">
        <label for="file-upload">Upload Picture</label>
        <input type="file" id="file-upload" name="picture" aria-label="Upload Picture" (change)="onFileSelected($event)" required>
      </div>

      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </section>
  <app-footer></app-footer>
</div>
