<div class="sell-container">
<app-navbar></app-navbar>

  <section class="sell-header">
    <h2>SELL YOUR BOOK</h2>
    <p>List your used textbooks and school materials for sale.
      We'll help you find buyers and get the best price.</p>
  </section>

  <section class="sell-form">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" placeholder="Enter the book title" aria-label="Buchtitel">
      </div>

      <div class="form-group">
        <label for="description">Descriptiom</label>
        <textarea id="description" placeholder="Describe the condition and details of the book" aria-label="Beschreibung"></textarea>
      </div>

      <div class="form-group category-group">
        <label>Category</label>
        <div class="checkbox-group">
          <label for="category1"><input type="checkbox" id="category1"> School books</label>
          <label for="category2"><input type="checkbox" id="category2"> School materials</label>
          <label for="category3"><input type="checkbox" id="category3"> Learning material</label>
          <label for="category4"><input type="checkbox" id="category4"> Other</label>
        </div>
      </div>

      <div class="form-group price-group">
        <label for="price">Price</label>
        <div class="price-input">
          <input type="text" id="price" placeholder="Enter the price" aria-label="Preis">
          <span>CHF</span>
        </div>
      </div>

      <div class="form-group">
        <label for="file-upload">Upload Picture</label>
        <input type="file" id="file-upload" aria-label="Upload Picture">
      </div>

      <button routerLink="/home" type="submit" class="submit-btn">Submit</button>
    </form>
  </section>
<app-footer></app-footer>
</div>
