<div class="pricing-container">
  <nav class="navbar">
    <div class="logo">
      <a href="/home" class="logo"> <img src="/logo.png" alt="Logo"> </a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/browse">Shop</a></li>
      <li><a routerLink="/sell">Sell</a></li>
      <li><a routerLink="/pricing">Pricing</a></li>
      <li><a routerLink="/favorites">Favorites</a></li>
      <li><a routerLink="/cart">Cart</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </nav>

  <section class="pricing-header">
    <h2>UNSERE PREISE</h2>
  </section>

  <section class="pricing-options">
    <div class="pricing-card">
      <h3>Premium</h3>
      <h4>Ein Preis für alle</h4>
      <p>Entsperre alle Vorteile zu einem einzigen Preis:</p>
        <li>Priorisierter Zugang zu Top-Artikeln</li>
        <li>Beschleunige deine Verkäufe</li>
        <li>Verbesserter und optimierter Feed</li>
      <h2>CHF 20</h2>
      <button class="buy-btn">Jetzt kaufen</button>
    </div>

    <div class="pricing-card">
      <h3>Einzelpreis</h3>
      <p>Erhalte individuelle Vorteile zu einem kleineren Preis:</p>
        <li>Zugang zu ausgewählten Artikeln</li>
        <li>Erhöhe die Sichtbarkeit für bestimmte Artikel</li>
        <li>Passe deine Feed-Optimierungen individuell an</li>
        <li>Zahle nur für das, was du wirklich brauchst!</li>
      <h2>CHF 3</h2>
      <button class="buy-btn">Jetzt kaufen</button>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-logo">
      <a href="/home" class="logo"> <img src="/logo.png" alt="Logo"> </a>
      <p>Hirschengraben 10</p>
      <p>Postfach 3439</p>
      <p>6002 Luzern</p>
      <p>Switzerland</p>
    </div>
    <div class="footer-links">
      <h4>Links</h4>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/browse">Shop</a></li>
        <li><a routerLink="/sell">Sell</a></li>
        <li><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/profile">Profile</a></li>
      </ul>
    </div>
    <div class="footer-help">
      <h4>Help</h4>
      <ul>
        <li><a routerLink="/aboutus">About Us</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/policy">Privacy Policy</a></li>
        <li><a routerLink="/terms">Terms of Service</a></li>
      </ul>
    </div>
    <div class="footer-newsletter">
      <h4>Newsletter</h4>
      <input type="email" placeholder="Enter Your Email Address">
      <button class="subscribe-btn">SUBSCRIBE</button>
    </div>
  </footer>
</div>
