<div class="pricing-container">
<app-navbar></app-navbar>

  <section class="pricing-header">
    <h2>OUR PRICES</h2>
  </section>

  <section class="pricing-options">
    <div class="pricing-card">
      <h3>Premium</h3>
      <h4>One price for all</h4>
      <p>Unlock all the benefits at a single price:</p>
        <li>Prioritized access to top articles</li>
        <li>Accelerate your sales</li>
        <li>Improved and optimized Fee</li>
      <h2>CHF 20</h2>
      <button class="buy-btn">Buy now</button>
    </div>

    <div class="pricing-card">
      <h3>Einzelpreis</h3>
      <p>Get individual benefits at a lower price:
        <li>Access to selected articles</li>
        <li>Increase visibility for certain articles</li>
        <li>Adjust your feed optimizations</li>
        <li>Only pay for what you really need!</li>
      <h2>CHF 3</h2>
      <button class="buy-btn">Buy now</button>
    </div>
  </section>
<app-footer></app-footer>
</div>
