<div class="contact-container">
  <nav class="navbar">
    <div class="logo">
      <a href="/home" class="logo"> <img src="/logo.png" alt="Logo"> </a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/browse">Shop</a></li>
      <li><a routerLink="/sell">Sell</a></li>
      <li><a routerLink="/pricing">Pricing</a></li>
      <li><a routerLink="/favourites">Favourites</a></li>
      <li><a routerLink="/cart">Cart</a></li>
      <li><a routerLink="/profile">Profile</a></li>
    </ul>
  </nav>

  <section class="contact-header">
    <h2>CONTACT US</h2>
    <p class="subtitle">
      We're here to help! If you have any questions, feedback, or need assistance, feel free to
      reach out to us. You can contact us using the form below.
    </p>
  </section>

  <section class="contact-form">
    <div class="form-container">
      <form>
        <div class="form-row">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" placeholder="Enter your firstname">
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" placeholder="Enter your lastname">
          </div>
        </div>

        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="email" id="email" placeholder="Enter your email address">
        </div>

        <div class="form-group">
          <label for="message">Message</label>
          <textarea id="message" placeholder="Enter your Message"></textarea>
        </div>

        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-logo">
      <a href="/home" class="logo"> <img src="/logo.png" alt="Logo"> </a>
      <p>Hirschengraben 10</p>
      <p>Postfach 3439</p>
      <p>6002 Luzern</p>
      <p>Switzerland</p>
    </div>
    <div class="footer-links">
      <h4>Links</h4>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/browse">Shop</a></li>
        <li><a routerLink="/sell">Sell</a></li>
        <li><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/profile">Profile</a></li>
      </ul>
    </div>
    <div class="footer-help">
      <h4>Help</h4>
      <ul>
        <li><a routerLink="/aboutus">About Us</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/policy">Privacy Policy</a></li>
        <li><a routerLink="/terms">Terms of Service</a></li>
      </ul>
    </div>
    <div class="footer-newsletter">
      <h4>Newsletter</h4>
      <input type="email" placeholder="Enter Your Email Address">
      <button class="subscribe-btn">SUBSCRIBE</button>
    </div>
  </footer>
</div>
