<div class="search-container">
<app-navbar></app-navbar>

  <section class="search-bar">
    <h2>SEARCH PRODUCTS</h2>
    <div class="search-input">
      <input type="text" placeholder="Search">
      <button class="search-button">🔍</button>
    </div>
  </section>

  <section class="book-list">
    <div  routerLink="/product" class="book-item">
      <img src="/zgb.jpg" alt="ZGB/OR">
      <h4>ZGB/OR</h4>
      <p>Ernst A. Schraner</p>
      <strong>CHF 45.90</strong>
    </div>
    <div  routerLink="/product" class="book-item">
      <img src="/wirtschaft_ordner.jpeg" alt="Brennpunkt Wirtschaft">
      <h4>Brennpunkt Wirtschaft Und Gesellschaft 1</h4>
      <p>Heinz Rolfesnach</p>
      <strong>CHF 72.00</strong>
    </div>
    <div  routerLink="/product" class="book-item">
      <img src="/frw1.webp" alt="Finanzwesen 1">
      <h4>Finanz- und Rechnungswesen - Grundlagen 1</h4>
      <p>Ernst Keller</p>
      <strong>CHF 49.90</strong>
    </div>
    <div  routerLink="/product" class="book-item">
      <img src="/frw2.webp" alt="Finanzwesen 2">
      <h4>Finanz- und Rechnungswesen - Grundlagen 2</h4>
      <p>Ernst Keller</p>
      <strong>CHF 49.90</strong>
    </div>
  </section>
  <section class="book-list">
    <div class="book-item">
      <img src="/zgb.jpg" alt="ZGB/OR">
      <h4>ZGB/OR</h4>
      <p>Ernst A. Schraner</p>
      <strong>CHF 45.90</strong>
    </div>
    <div class="book-item">
      <img src="/wirtschaft_ordner.jpeg" alt="Brennpunkt Wirtschaft">
      <h4>Brennpunkt Wirtschaft Und Gesellschaft 1</h4>
      <p>Heinz Rolfesnach</p>
      <strong>CHF 72.00</strong>
    </div>
    <div class="book-item">
      <img src="/frw1.webp" alt="Finanzwesen 1">
      <h4>Finanz- und Rechnungswesen - Grundlagen 1</h4>
      <p>Ernst Keller</p>
      <strong>CHF 49.90</strong>
    </div>
    <div class="book-item">
      <img src="/frw2.webp" alt="Finanzwesen 2">
      <h4>Finanz- und Rechnungswesen - Grundlagen 2</h4>
      <p>Ernst Keller</p>
      <strong>CHF 49.90</strong>
    </div>
  </section>
<app-footer></app-footer>
</div>
