<div class="product-container" *ngIf="product">
  <app-navbar></app-navbar>

  <section class="product-details">
    <div class="product-images">
      <img [src]="'https://rebook-bmsd22a.bbzwinf.ch/' + product.image" [alt]="product.title" class="main-image">
    </div>

    <div class="product-info">
      <h1>{{ product.title }}</h1>
      <p class="author">{{ product.author }}</p>
      <p class="book-condition"><strong>BOOK CONDITION:</strong> NEW</p>
      <p class="book-category"><strong>{{ product.category }}</strong></p>
      <p class="description">{{ product.description }}</p>
      <p class="price"><strong>CHF {{ product.price }}</strong></p>
      <button routerLink="/cart" class="cart-btn">GO TO SHOPPING CART</button>
      <button  class="wishlist-btn">❤️</button> //(click)="addFavourite()"
    </div>
  </section>

  <app-footer></app-footer>
</div>
