<div class="product-container">
  <nav class="navbar">
    <div class="logo">
      <a href="/home" class="logo"> <img src="/logo.png" alt="Logo"> </a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/browse">Shop</a></li>
      <li><a routerLink="/sell">Sell</a></li>
      <li><a routerLink="/pricing">Pricing</a></li>
      <li><a routerLink="/favorites">Favourites</a></li>
      <li><a routerLink="/cart">Cart</a></li>
      <li><a routerLink="/profile">Profile</a></li>
    </ul>
  </nav>

  <section class="product-details">
    <div class="product-images">
      <img src="/zgb.jpg" alt="ZGB/OR" class="main-image">
      <div class="thumbnail-images">
        <img src="/zgb.jpg" alt="ZGB/OR">
        <img src="/zgb.jpg" alt="ZGB/OR">
        <img src="/zgb.jpg" alt="ZGB/OR">
      </div>
    </div>

    <div class="product-info">
      <h1>ZGB/OR Kaufmännische Ausgabe</h1>
      <p class="author">Ernst J. Schneiter</p>
      <p class="book-condition"><strong>BUCHZUSTAND:</strong> NEU</p>
      <p class="book-category"><strong>Zivilgesetzbuch, Obligationenrecht, SchKG, BV Und Weitere Erlasse</strong></p>
      <p class="description">
        Die kaufmännische Ausgabe ZGB/OR zeichnet sich dadurch aus, dass sie sich inhaltlich
        und konzeptionell konsequent auf die Bedürfnisse des kaufmännischen Bereichs ausrichtet.
        Die deutsche- und die französischsprachige Ausgabe sind identisch aufgebaut.
      </p>
      <p class="price"><strong>CHF 9.90</strong></p>
      <button routerLink="/cart" class="cart-btn">ZUM WARENKORB</button>
      <button class="wishlist-btn">❤️</button>
    </div>
  </section>

  <section class="suggestions">
    <div><h2>VORSCHLÄGE</h2>
    <div class="suggested-books">
      <div  routerLink="/product" class="book-item">
        <img src="/wirtschaft_ordner.jpeg" alt="Brennpunkt Wirtschaft">
        <h4>Brennpunkt Wirtschaft Und Gesellschaft 1</h4>
        <strong>CHF 72.00</strong>
      </div>

      <div  routerLink="/product"  class="book-item">
        <img src="/grammatik.jpg" alt="Übungsgrammatik">
        <h4>Systematische Übungsgrammatik</h4>
        <strong>CHF 25.90</strong>
      </div>

      <div  routerLink="/product" class="book-item">
        <img src="/gold.webp" alt="Gold B2">
        <h4>Gold B2 First</h4>
        <strong>CHF 46.70</strong>
      </div>

      <div  routerLink="/product" class="book-item">
        <img src="/business.jpg" alt="Business Partner">
        <h4>Business Partner B1+</h4>
        <strong>CHF 35.90</strong>
      </div>
    </div>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-logo">
      <a href="/home" class="logo"> <img src="/logo.png" alt="Logo"> </a>
      <p>Hirschengraben 10</p>
      <p>Postfach 3439</p>
      <p>6002 Luzern</p>
      <p>Switzerland</p>
    </div>
    <div class="footer-links">
      <h4>Links</h4>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/browse">Shop</a></li>
        <li><a routerLink="/sell">Sell</a></li>
        <li><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/profile">Profile</a></li>
      </ul>
    </div>
    <div class="footer-help">
      <h4>Help</h4>
      <ul>
        <li><a routerLink="/aboutus">About Us</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/policy">Privacy Policy</a></li>
        <li><a routerLink="/terms">Terms of Service</a></li>
      </ul>
    </div>
    <div class="footer-newsletter">
      <h4>Newsletter</h4>
      <input type="email" placeholder="Enter Your Email Address">
      <button class="subscribe-btn">SUBSCRIBE</button>
    </div>
  </footer>
</div>
