<div class="login-container">
<app-navbar></app-navbar>
  <section class="login-content">
    <div class="login-image">
      <img src="/login_register.jpg" alt="Login Illustration">
    </div>
    <div class="login-form">
      <h2>Login</h2>
      <p>If you dont have an account:<br>You can <a href="/register">Register!</a></p>

      <form (ngSubmit)="login()">
        <label for="email">Email</label>
        <div class="input-group">
          <input type="email" id="email" name="email" placeholder="Enter your email adress" required>
          <i class="fa fa-envelope"></i>
        </div>

        <label for="password">Password</label>
        <div class="input-group">
          <input type="password" id="password" name="password" placeholder="Enter your password" required>
          <i class="fa fa-eye"></i>
        </div>

        <button type="submit" class="login-btn">Login</button>
      </form>
    </div>
  </section>
  <app-footer></app-footer>
</div>
