<div class="login-container">
  <nav class="navbar">
    <div class="logo">
      <a href="/home" class="logo"> <img src="/logo.png" alt="Logo"> </a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/browse">Shop</a></li>
      <li><a routerLink="/sell">Sell</a></li>
      <li><a routerLink="/pricing">Pricing</a></li>
      <li><a routerLink="/favorites">Favorites</a></li>
      <li><a routerLink="/cart">Cart</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </nav>
  <section class="login-content">
    <div class="login-image">
      <img src="/login_register.jpg" alt="Login Illustration">
    </div>
    <div class="login-form">
      <h2>Anmelden</h2>
      <p>Falls du keinen Account hast<br>Du kannst dich <a routerLink="/register">Registrieren!</a></p>

      <form (ngSubmit)="login()">
        <label for="email">Email</label>
        <div class="input-group">
          <input type="email" id="email" name="email" placeholder="Gib deine Email Adresse ein" required>
          <i class="fa fa-envelope"></i>
        </div>

        <label for="password">Passwort</label>
        <div class="input-group">
          <input type="password" id="password" name="password" placeholder="Gib dein Passwort ein" required>
          <i class="fa fa-eye"></i>
        </div>

        <button type="submit" class="login-btn">Anmelden</button>
      </form>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-logo">
      <a href="/home" class="logo"> <img src="/logo.png" alt="Logo"> </a>
      <p>Hirschengraben 10</p>
      <p>Postfach 3439</p>
      <p>6002 Luzern</p>
      <p>Switzerland</p>
    </div>
    <div class="footer-links">
      <h4>Links</h4>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/browse">Shop</a></li>
        <li><a routerLink="/sell">Sell</a></li>
        <li><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/profile">Profile</a></li>
      </ul>
    </div>
    <div class="footer-help">
      <h4>Help</h4>
      <ul>
        <li><a routerLink="/aboutus">About Us</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/policy">Privacy Policy</a></li>
        <li><a routerLink="/terms">Terms of Service</a></li>
      </ul>
    </div>
    <div class="footer-newsletter">
      <h4>Newsletter</h4>
      <input type="email" placeholder="Enter Your Email Address">
      <button class="subscribe-btn">SUBSCRIBE</button>
    </div>
  </footer>
</div>
