<div class="login-container">
  <app-navbar></app-navbar>

  <section class="login-content">
    <div class="login-image">
      <img src="/login_register.jpg" alt="Register Illustration" />
    </div>

    <div class="login-form">
      <h2>Register</h2>
      <p>If you already have an account:<br>You can <a routerLink="/login">Login!</a></p>

      <form (submit)="register(); $event.preventDefault()">
        <label for="email">Email</label>
        <div class="input-group">
          <input type="email" id="email" name="email" placeholder="Enter your email" [(ngModel)]="user.email" required />
          <i class="fa fa-envelope"></i>
        </div>

        <label for="username">Username</label>
        <div class="input-group">
          <input type="text" id="username" name="username" placeholder="Enter your username" [(ngModel)]="user.username" required />
          <i class="fa fa-user"></i>
        </div>

        <label for="password">Password</label>
        <div class="input-group">
          <input type="password" id="password" name="password" placeholder="Enter your password" [(ngModel)]="user.password" required />
          <i class="fa fa-lock"></i>
        </div>

        <label for="region">Region</label>
        <div class="input-group">
          <input type="text" id="region" name="region" placeholder="Your region" [(ngModel)]="user.region" />
          <i class="fa fa-map-marker"></i>
        </div>

        <div class="options">
          <label><input type="checkbox" required> I accept the <a routerLink="/terms">Terms of use</a></label>
        </div>

        <button type="submit" class="login-btn">Register</button>
      </form>
    </div>
  </section>

  <app-footer></app-footer>
</div>
