<div class="favourites-container">
<app-navbar></app-navbar>

  <section class="favourites-header">
    <h2>YOUR FAVOURITES</h2>
  </section>

  <section class="favourites-list">
    <p *ngIf="favourites.length === 0">No favorites found.</p>

    <div class="book-list" *ngIf="favourites.length > 0">
      <a *ngFor="let book of favourites"
         [routerLink]="['/product']"
         [queryParams]="{ id: book.product_id }"
         class="book-item">
        <img [src]="'https://rebook-bmsd22a.bbzwinf.ch/' + book.image" [alt]="book.title">
        <h4>{{ book.title }}</h4>
        <p>{{ book.author }}</p>
        <strong>CHF {{ book.price }}</strong>
      </a>
    </div>
  </section>


  <app-footer></app-footer>
</div>
