<div class="favourites-container">
<app-navbar></app-navbar>

  <section class="favourites-header">
    <h2>YOUR FAVOURITES</h2>
  </section>

  <section class="favourites-list">
    <div *ngFor="let book of favourites" class="book-item">
      <img [src]="'https://rebook-bmsd22a.bbzwinf.ch/' + book.image" [alt]="book.title" />
      <h4>{{ book.title }}</h4>
      <p>{{ book.author }}</p>
      <strong>CHF {{ book.price | number: '1.2-2' }}</strong>
    </div>
  </section>


  <app-footer></app-footer>
</div>
