<div class="favourites-container">
<app-navbar></app-navbar>

  <section class="favourites-header">
    <h2>YOUR FAVOURITES</h2>
  </section>

  <section class="favourites-list">
    <div  routerLink="/product" class="book-item">
      <img src="/zgb.jpg" alt="ZGB/OR">
      <h4>ZGB/OR</h4>
      <p>Ernst J. Schneiter</p>
      <strong>CHF 45.90</strong>
    </div>

    <div  routerLink="/product" class="book-item">
      <img src="/wirtschaft_ordner.jpeg" alt="Brennpunkt Wirtschaft">
      <h4>Brennpunkt Wirtschaft Und Gesellschaft 1</h4>
      <p>Heinz Rüfenacht</p>
      <strong>CHF 72.00</strong>
    </div>

    <div  routerLink="/product" class="book-item">
      <img src="/frw1.webp" alt="Finanzwesen 1">
      <h4>Finanz- und Rechnungswesen - Grundlagen 1</h4>
      <p>Ernst Keller</p>
      <strong>CHF 49.90</strong>
    </div>

    <div  routerLink="/product" class="book-item">
      <img src="/frw2.webp" alt="Finanzwesen 2">
      <h4>Finanz- und Rechnungswesen - Grundlagen 2</h4>
      <p>Ernst Keller</p>
      <strong>CHF 49.90</strong>
    </div>

    <div class="book-item">
      <img src="/frw3.png" alt="Finanzwesen Vertiefung">
      <h4>Finanz- und Rechnungswesen - Vertiefung</h4>
      <p>Ernst Keller</p>
      <strong>CHF 49.90</strong>
    </div>

    <div class="book-item">
      <img src="/grammatik.jpg" alt="Übungsgrammatik">
      <h4>Systematische Übungsgrammatik</h4>
      <p>Hueber Verlag</p>
      <strong>CHF 25.90</strong>
    </div>

    <div class="book-item">
      <img src="/gold.webp" alt="Gold B2">
      <h4>Gold B2 First</h4>
      <p>Pearson</p>
      <strong>CHF 46.70</strong>
    </div>

    <div class="book-item">
      <img src="/business.jpg" alt="Business Partner">
      <h4>Business Partner B1+</h4>
      <p>Pearson</p>
      <strong>CHF 35.90</strong>
    </div>
  </section>

<app-footer></app-footer>
</div>
