<div class="home-container">
  <nav class="navbar">
    <div class="logo">
      <a href="/home" class="logo"> <img src="/logo.png" alt="Logo"> </a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/browse">Shop</a></li>
      <li><a routerLink="/sell">Sell</a></li>
      <li><a routerLink="/pricing">Pricing</a></li>
      <li><a routerLink="/favorites">Favorites</a></li>
      <li><a routerLink="/cart">Cart</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ul>
  </nav>

  <section class="hero">
    <div class="text-content">
      <h1>Re-Book</h1>
      <p>
        ist eine Online-Plattform, die Schülern den einfachen Kauf und Verkauf
        gebrauchter Schulbücher und -materialien ermöglicht.
      </p>
      <p>
        Unsere Mission ist es, Bildung erschwinglicher und nachhaltiger zu machen,
        indem wir geeignete Marktplätze anbieten.
      </p>
      <div class="buttons">
        <a routerLink="/browse" class="btn">KAUFEN</a>
        <a routerLink="/sell" class="btn">VERKAUFEN</a>
      </div>
    </div>
    <div class="image-content">
      <img src="/buchbaum.webp" alt="Bücherbaum">
    </div>
  </section>

  <section class="top-picks">
    <h2>TOP PICKS</h2>
    <div class="book-list">
      <div  routerLink="/product" class="book-item">
        <img src="/zgb.jpg" alt="ZGB/OR">
        <h4>ZGB/OR</h4>
        <p>Autor</p>
        <strong>Preis</strong>
      </div>

      <div  routerLink="/product" class="book-item">
        <img src="/wirtschaft_ordner.jpeg" alt="Brennpunkt Wirtschaft">
        <h4>Brennpunkt Wirtschaft Und Gesellschaft 1</h4>
        <p>Autor</p>
        <strong>Preis</strong>
      </div>

      <div  routerLink="/product" class="book-item">
        <img src="/frw1.webp" alt="Finanzwesen 1">
        <h4>Finanz- und Rechnungswesen - Grundlagen 1</h4>
        <p>Autor</p>
        <strong>Preis</strong>
      </div>
    </div>
  </section>

  <section class="categories">
    <h2>Kategorien</h2>
    <div class="category-list">
      <div class="category-item">
        <img src="/schulbücher.jpg" alt="Schulbücher">
        <h4>Schulbücher</h4>
        <p>Finde erschwingliche, gebrauchsfreundliche Lehr- und Schulbücher,
          die zu deinem Lehrplan passen.</p>
      </div>
      <div class="category-item">
        <img src="/schulmaterial.png" alt="Schulmaterial">
        <h4>Schulmaterial</h4>
        <p>Von Notizbüchern bis hin zu Taschenrechnern findest du alle wichtigen Schulmaterialien an einem Ort.</p>
      </div>
      <div class="category-item">
        <img src="/lernmaterial.jpg" alt="Lernmaterial">
        <h4>Lernmaterial</h4>
        <p>Bereichere deine Lernsitzungen mit einer Vielzahl von Lernressourcen.</p>
      </div>
    </div>
  </section>

  <section class="bestseller">
    <h2>Unsere meistverkauften Fächer</h2>
    <div class="bestseller-list">
      <div class="bestseller-item">
        <img src="/wirtschaft_recht.jpg" alt="Wirtschaft & Recht">
        <h4>Wirtschaft & Recht</h4>
        <p>Beherrsche komplexe Konzepte in Wirtschaft und Recht mit unseren meistverkauften Lehrbüchern
          – von den Grundlagen bis hin zu praktischen Anwendungen.</p>
      </div>
      <div class="bestseller-item">
        <img src="/geschichte.jpg" alt="Geschichte">
        <h4>Geschichte</h4>
        <p>Tauche tief in die Vergangenheit ein mit unseren meistverkauften Geschichtsbüchern.
          Egal, ob du alte Zivilisationen studierst oder dich für andere historische Epochen interessierst
          – hier findest du das Richtige.</p>
      </div>
      <div class="bestseller-item">
        <img src="/wissenschaft.jpeg" alt="Wissenschaften">
        <h4>Wissenschaften</h4>
        <p>Entdecke die Wunder der Natur mit unseren meistverkauften Wissenschaftsbüchern.</p>
      </div>
    </div>
  </section>

  <section class="offer">
    <h2>Alle Bücher sind jetzt 10 % günstiger!</h2>
    <p>Melde dich an und erhalte einen Gutschein per E-Mail!</p>
    <a routerLink="/register" class="btn">REGISTRIEREN</a>
  </section>

  <section class="pricing">
    <div class="pricing-item">
      <h3>Premium</h3>
      <p>
        Entsperre alle Vorteile zum Einheitspreis:
        <li>Priorisierter Zugang zu Top-Artikeln</li>
        <li>Beschleunige deine Verkäufe</li>
        <li>Verbesserter, optimierter Feed</li>
        <li>Und vieles mehr!</li>
      </p>
      <strong>CHF 20</strong>
    </div>

    <div class="pricing-item">
      <h3>Einzelpreis</h3>
      <p>
        Erhalte individuelle Vorteile zu einem kleineren Preis:
        <li>Zugang zu ausgewählten Artikeln</li>
        <li>Sichtbarkeit für bestimmte Artikel steigern</li>
        <li>Passe deine Feed-Optimierungen an</li>
        <li>Zahle nur für das, was du wirklich brauchst!</li>
      </p>
      <strong>CHF 3</strong>
    </div>
  </section>



  <footer class="footer">
    <div class="footer-logo">
      <a href="/home" class="logo"> <img src="/logo.png" alt="Logo"> </a>
      <p>Hirschengraben 10</p>
      <p>Postfach 3439</p>
      <p>6002 Luzern</p>
      <p>Switzerland</p>
    </div>
    <div class="footer-links">
      <h4>Links</h4>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/browse">Shop</a></li>
        <li><a routerLink="/sell">Sell</a></li>
        <li><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/profile">Profile</a></li>
      </ul>
    </div>
    <div class="footer-help">
      <h4>Help</h4>
      <ul>
        <li><a routerLink="/aboutus">About Us</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/policy">Privacy Policy</a></li>
        <li><a routerLink="/terms">Terms of Service</a></li>
      </ul>
    </div>
    <div class="footer-newsletter">
      <h4>Newsletter</h4>
      <input type="email" placeholder="Enter Your Email Address">
      <button class="subscribe-btn">SUBSCRIBE</button>
    </div>
  </footer>
</div>
