<div class="cart-container">
<app-navbar></app-navbar>

  <section class="cart-header">
    <h2>SHOPPING CART</h2>
    <a routerLink="/browse" class="continue-shopping">← Continue shopping</a>
  </section>

  <section class="cart-items">
    <div *ngIf="cart && cart.length; else noItems">

      <div class="cart-item">
      <a
         *ngFor="let item of cart; let i = index"
         [routerLink]="['/product']"
         [queryParams]="{ id: item.product_id }">

        <img *ngIf="item.image"  [src]="'https://rebook-bmsd22a.bbzwinf.ch/' + item.image" [alt]="item.title">
        </a>
        <div class="item-info" *ngFor="let item of cart; let i = index">
          <h4>{{ item.title }}</h4>
          <p>{{ item.author }}</p>
        </div>

        <p class="item-price" *ngFor="let item of cart; let i = index">
          CHF {{ item.price }}
        <button class="remove-btn" (click)="removeItem(i)">🗑</button>
        </p>
    </div>
    </div>

    <ng-template #noItems>
      <p>🛒 Your cart is empty.</p>
    </ng-template>

  </section>

  <section class="cart-summary">
    <h3>Summary</h3>
    <p class="total-price">{{ getTotalPrice() }}</p>
    <button *ngIf="cart.length > 0" (click)="createOrder()" class="checkout-btn">
      Go to checkout
    </button>


  </section>

  <app-footer></app-footer>
</div>
