<div class="cart-container">
<app-navbar></app-navbar>

  <section class="cart-header">
    <h2>SHOPPING CART</h2>
    <a routerLink="/browse" class="continue-shopping">← Continue shopping</a>
  </section>

  <section class="cart-items">
    <div *ngIf="cart && cart.length; else noItems">

      <a class="cart-item"
         *ngFor="let item of cart; let i = index"
         [routerLink]="['/product']"
         [queryParams]="{ id: item.product_id }">

        <img *ngIf="item.image"  [src]="'https://rebook-bmsd22a.bbzwinf.ch/' + item.image" [alt]="item.title">
        <a class="item-info">
          <h4>{{ item.title }}</h4>
          <p>{{ item.author }}</p>
        </a>

        <p class="item-price">
          CHF {{ (item.quantity * (+item.price)).toFixed(2) }}
        </p>

        <button class="remove-btn" (click)="removeItem(i)">🗑</button>
</a>
    </div>

    <ng-template #noItems>
      <p>🛒 Your cart is empty.</p>
    </ng-template>

  </section>

  <section class="cart-summary">
    <h3>Summary</h3>
    <p class="total-price">{{ getTotalPrice() }}</p>
    <button *ngIf="cart.length > 0" routerLink="/checkout" class="checkout-btn">Go to checkout</button>
  </section>

  <app-footer></app-footer>
</div>
