<div class="cart-container">
<app-navbar></app-navbar>

  <section class="cart-header">
    <h2>SHOPPING CART</h2>
    <a href="/browse" class="continue-shopping">← Continue shopping</a>
  </section>

  <section class="cart-items">
    <div class="cart-item">
      <img  routerLink="/product" src="/zgb.jpg" alt="ZGB/OR">
      <div class="item-info">
        <h4>ZGB/OR</h4>
        <p>Ernst A. Schraner</p>
      </div>
      <div class="quantity-control">
        <button class="quantity-btn">▲</button>
        <span>1</span>
        <button class="quantity-btn">▼</button>
      </div>
      <p class="item-price">CHF 9.90</p>
      <button class="remove-btn">🗑</button>
    </div>

    <div class="cart-item">
      <img src="/wirtschaft_ordner.jpeg" alt="Brennpunkt Wirtschaft">
      <div class="item-info">
        <h4>Brennpunkt Wirtschaft Und Gesellschaft 1</h4>
        <p>Heinz Rolfesnach</p>
      </div>
      <div class="quantity-control">
        <button class="quantity-btn">▲</button>
        <span>1</span>
        <button class="quantity-btn">▼</button>
      </div>
      <p class="item-price">CHF 32.00</p>
      <button class="remove-btn">🗑</button>
    </div>

    <div class="cart-item">
      <img src="/frw1.webp" alt="Finanzwesen 1">
      <div class="item-info">
        <h4>Finanz- und Rechnungswesen - Grundlagen 2</h4>
        <p>Ernst Keller</p>
      </div>
      <div class="quantity-control">
        <button class="quantity-btn">▲</button>
        <span>1</span>
        <button class="quantity-btn">▼</button>
      </div>
      <p class="item-price">CHF 19.90</p>
      <button class="remove-btn">🗑</button>
    </div>
  </section>

  <section class="cart-summary">
    <h3>Zusammenfassung</h3>
    <p class="total-price">CHF 61.80</p>
    <button routerLink="/checkout" class="checkout-btn">Zur Kasse</button>
  </section>
<app-footer></app-footer>
</div>
