<nav class="navbar">
  <div class="logo">
    <a href="/home" class="logo"> <img src="/logo.png" alt="Logo"> </a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/browse">Shop</a></li>
    <li><a routerLink="/sell">Sell</a></li>
    <li><a routerLink="/pricing">Pricing</a></li>
    <li><a routerLink="/favorites">Favorites</a></li>
    <li><a routerLink="/cart">Cart</a></li>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a routerLink="/login">Login</a></li>
  </ul>
</nav>
