<div class="about-container">
<app-navbar></app-navbar>

  <section class="about-content">
    <div class="about-text">
      <h1>Re-Book</h1>
      <p>
        is an online platform designed for students to easily buy and sell used school books and materials.
        Our mission is to make education more affordable and sustainable by offering a marketplace where
        students can find quality textbooks and resources at lower prices, while also giving them the
        opportunity to earn money by selling their used items. Re-Book connects students, fosters a
        community of sharing, and reduces the waste associated with new book purchases. Simple, affordable,
        and eco-friendly – Re-Book is the smarter way to access school essentials.
      </p>
    </div>
    <div class="about-image">
      <img src="/about_us.jpg" alt="Books">
    </div>
  </section>
<app-footer></app-footer>
</div>
