<div class="browse-container">
<app-navbar></app-navbar>

  <div class="main-content">
    <section class="filter-section">
      <h2>FILTER</h2>
      <div class="filter-container">
        <div class="filter-group">
          <h3>Preis</h3>
          <p>CHF <input type="text" placeholder="10"> bis CHF <input type="text" placeholder="100"></p>
        </div>

        <div class="filter-group">
          <h3>Category</h3>
          <ul>
            <li>School books</li>
            <li>School material</li>
            <li>Learning material</li>
          </ul>
        </div>

        <div class="filter-group">
          <h3>Subject</h3>
          <ul>
            <li>Mathematics</li>
            <li>History</li>
            <li>German</li>
            <li>Science</li>
            <li>English</li>
            <li>Literature</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="book-list">
      <div class="book-item">
        <img src="/zgb.jpg" alt="ZGB/OR">
        <h4>ZGB/OR</h4>
        <p>Ernst A. Schraner</p>
        <strong>CHF 9.90</strong>
      </div>
      <div routerLink="/product" class="book-item">
        <img src="/wirtschaft_ordner.jpeg" alt="Brennpunkt Wirtschaft">
        <h4>Brennpunkt Wirtschaft Und Gesellschaft 1</h4>
        <p>Heinz Rolfesnach</p>
        <strong>CHF 30.00</strong>
      </div>
      <div routerLink="/product" class="book-item">
        <img src="/frw1.webp" alt="Finanzwesen 1">
        <h4>Finanz- und Rechnungswesen - Grundlagen 1</h4>
        <p>Ernst Keller</p>
        <strong>CHF 23.90</strong>
      </div>
      <div routerLink="/product" class="book-item">
        <img src="/frw2.webp" alt="Finanzwesen 2">
        <h4>Finanz- und Rechnungswesen - Grundlagen 2</h4>
        <p>Ernst Keller</p>
        <strong>CHF 25.90</strong>
      </div>
    </section>

    <section class="book-list">
      <div class="book-item">
        <img src="/zgb.jpg" alt="ZGB/OR">
        <h4>ZGB/OR</h4>
        <p>Ernst A. Schraner</p>
        <strong>CHF 9.90</strong>
      </div>
      <div  routerLink="/product" class="book-item">
        <img src="/wirtschaft_ordner.jpeg" alt="Brennpunkt Wirtschaft">
        <h4>Brennpunkt Wirtschaft Und Gesellschaft 1</h4>
        <p>Heinz Rolfesnach</p>
        <strong>CHF 30.00</strong>
      </div>
      <div class="book-item">
        <img src="/frw1.webp" alt="Finanzwesen 1">
        <h4>Finanz- und Rechnungswesen - Grundlagen 1</h4>
        <p>Ernst Keller</p>
        <strong>CHF 23.90</strong>
      </div>
      <div class="book-item">
        <img src="/frw2.webp" alt="Finanzwesen 2">
        <h4>Finanz- und Rechnungswesen - Grundlagen 2</h4>
        <p>Ernst Keller</p>
        <strong>CHF 25.90</strong>
      </div>
    </section>

    <section class="book-list">
      <div class="book-item">
        <img src="/frw3.png" alt="ZGB/OR">
        <h4>ZGB/OR</h4>
        <p>Ernst A. Schraner</p>
        <strong>CHF 9.90</strong>
      </div>
      <div class="book-item">
        <img src="/wirtschaft_ordner.jpeg" alt="Brennpunkt Wirtschaft">
        <h4>Brennpunkt Wirtschaft Und Gesellschaft 1</h4>
        <p>Heinz Rolfesnach</p>
        <strong>CHF 30.00</strong>
      </div>
      <div class="book-item">
        <img src="/frw3.png" alt="Finanzwesen 1">
        <h4>Finanz- und Rechnungswesen - Grundlagen 1</h4>
        <p>Ernst Keller</p>
        <strong>CHF 23.90</strong>
      </div>
      <div class="book-item">
        <img src="/frw2.webp" alt="Finanzwesen 2">
        <h4>Finanz- und Rechnungswesen - Grundlagen 2</h4>
        <p>Ernst Keller</p>
        <strong>CHF 25.90</strong>
      </div>
    </section>
  </div>
<app-footer></app-footer>
</div>
